.delivery
    .container
        .row
            .col
                h2 Зона доставки
    .delivery-map
        #map
        .container
            .row
                .col-4
                    .delivery-form
                        .delivery-form-text
                            h4 Проверить адрес доставки
                            p Мы придерживаемся проверенной системы стандартов работы, поэтому районы нашей доставки ограничены
                        form
                            .input-group
                                input#street.input-area(type='text' required='true')
                                label.label(for='street') Улица
                            .input-group
                                input#house.input-area(type='text' required='true')
                                label.label(for='house') Номер дома
                            button(type='submit' disabled='true') Проверить