.footer-bot
    .container
        .row
            .col-6.col-xl-3
                .footer-bot-left
                    .footer-bot-left-top
                        a(href="#")
                            img(src="./../images/footer/logo.svg" alt='logo')
                    .footer-bot-left-bot
                        .footer-bot-left-item
                            p г.Гродно, ул Советская, 25
                        .footer-bot-left-item
                            a(class="link-tel" href="tel:+375294447521") +375 (29) 444-75-21
                        .footer-bot-left-item
                            a(href="#")
                                img(src="./../images/footer/instagram.svg")
                                span @polyanacity
            .col-6.col-xl-3
                .footer-bot-links
                    .footer-bot-link
                        a(href="#") Главная страница
                    .footer-bot-link
                        a(href="#") Личный кабинет
                    .footer-bot-link
                        a(href="#") Корзина
                    .footer-bot-link
                        a(href="#") Условия доставки
                    .footer-bot-link
                        a(href="#") Акции
                    .footer-bot-link
                        a(href="#") Вакансии
                    .footer-bot-link
                        a(href="#") Правила оказания услуг
                    .footer-bot-link
                        a(href="#") Публичная оферта
            .col-xs-6.col-xl-3
                .footer-bot-pays
                    .footer-bot-pays-top
                        p Принимаем к оплате
                    .footer-bot-pays-bot
                        .footer-bot-pays-item
                            img(src="./../images/footer/visa.svg")
                        .footer-bot-pays-item
                            img(src="./../images/footer/master_card.svg")
            .col-xs-6.col-xl-3
                .footer-bot-right
                    .footer-bot-right-top
                        p УНП: 192360857
                        p
                            | Дата регистрации в Торговом реестре: 06.09.2015
                            br
                            | Регистрационный номер 293000
                    .footer-bot-right-bot
                        p
                            | Юридический адрес:
                            br
                            | 220003, г.Гродно, ул. Советская, 25, 1 этаж, помещение № 18
                        p.registr © 2018 Поляна City
