.footer-top
    img(src="./../images/footer/tom-yel.png" alt="tomat" class="footer-top-tomato-left")
    img(src="./../images/footer/tom-yel.png" alt="tomat" class="footer-top-tomato-right")
    img(src="./../images/footer/tom-red.png" alt="tomat" class="footer-top-tomato-red")
    img(src="./../images/footer/paper.png" alt="paper" class="footer-top-paper")
    img(src="./../images/footer/burger.png" alt="burger" class="footer-top-burger")
    img(src="./../images/footer/halapen.png" alt="halapen" class="footer-top-halapen")
    img(src="./../images/footer/grass.png" alt="grass" class="footer-top-grass")
    img(src="./../images/footer/thyme.png" alt="thyme" class="footer-top-thyme")
    .container
        .footer-top-wrapper
            .footer-top-top
                .row
                    .col-xs-12.col-xl-3
                        .footer-top-block
                            .footer-top-title
                                h3 15.00р.
                            .footer-top-text Минимальная сумма доставки
                    .col-xs-12.col-xl-3
                        .footer-top-block
                            .footer-top-title
                                h3 Самовывоз
                            .footer-top-text
                                p
                                    strong Вс-Чт
                                    | &nbsp; с 10:30 до 00:00
                                p
                                    strong Пт-Сб
                                    | &nbsp; с 10:30 до 02:30
                                p Ул. Советская, 25
                    .col-xs-12.col-xl-3
                        .footer-top-block
                            .footer-top-title
                            .footer-top-text
                                | Заказы принимаются на
                                br
                                |сайте и по телефону
                                br
                                |+375 (29) 444-75-21
            .footer-top-bot
                .row
                    .col Изображения продуктов могут отличаться от продуктов в заказе.

