.container
    .row
        .col
            .header-fixed-wrapper
                .header-fixed-left
                    .header-fixed-logo
                        a(href="/")
                            img(src="./../images/header/logo_2.svg")
                    .header-fixed-menu
                        .header-fixed-menu-item
                            a(href="#burger") Бургеры
                        .header-fixed-menu-item
                            a(href="#sandwich") Сэндвичи
                        .header-fixed-menu-item
                            a(href="#snacks") Закуски
                        .header-fixed-menu-item
                            a(href="#sweets") Десерты
                        .header-fixed-menu-item
                            a(href="#drinks") Напитки
                        .header-fixed-menu-item
                            a(href="#breakfast") Завтрак
                .header-fixed-right
                    .header-fixed-right
                        .header-fixed-phone
                            .header-fixed-phone-img
                                img(src="./../images/header/phone_2.svg" alt="phone")
                            .header-fixed-phone-tel
                                a(href="tel:+375294447521") +375 (29) 444-75-21
                        .header-fixed-cart
                            .header-fixed-cart-button
                                img(src="./../images/header/cart.svg" alt="cart")
                                span Корзина:
