.header-mobile
    .container
        .row
            .col
                .header-mobile-wrapper
                    .header-mobile-left
                        .header-mobile-logo
                            img(src='./images/header/logo.svg')
                        .header-mobile-phone
                            img(src='./images/header/phone.svg')
                            a(href='tel+3752944447521') +375 (29) 444-75-21
                    .header-mobile-right
                        .header-mobile-translate
                            .header-top-block-lang
                                span Ru
                                span
                                    img(src='./../images/header/bird.svg' alt='bird')
                        .header-mobile-hamburger
                            .header-mobile-hamburger-block