.header-top
    .container
        .row
            .col
                .header-top-block
                    .header-top-block-left
                        a(href='/').header-top-logo
                            img(src='./../images/header/logo.svg')
    .header-top-block-right
        .header-top-block-right-top
            .container
                .row
                    .col
                        .header-top-block-right-top-wrapper
                            .header-top-block-item
                                .header-top-block-item-img
                                    img(src='./../images/header/map.svg' alt='map')
                                .header-top-block-item-text
                                    a(href='#map')
                                        p г.Гродно, ул Советская, 25
                                    span.header-top-block-item-delivery Зона доставки
                            .header-top-block-item
                                .header-top-block-item-img
                                    img(src='./../images/header/phone.svg' alt='phone')
                                .header-top-block-item-text
                                    a(href='tel:+375294447521')
                                        p +375 (29) 444-75-21
                                    p 10:30 – 00:00
                            .header-top-block-item
                                .header-top-block-lang
                                    span Ru
                                    span
                                        img(src='./../images/header/bird.svg' alt='bird')
        .header-top-block-right-bot
            .container
                .row
                    .col
                        .header-top-block-right-bot-wrapper
                            .header-top-block-right-bot-left
                                .header-menu
                                    .header-menu-item
                                        a(href='#map')
                                            span Условия доставки
                                    .header-menu-item
                                        a(href='/promo.html')
                                            span
                                                img(src='./../images/header/burn.svg' alt='sale')
                                            span Акции
                                    .header-menu-item
                                        a(href='/job.html')
                                            span Вакансии
                            .header-top-block-item-right-bot-right
                                .header-menu
                                    .header-menu-item.right
                                        span
                                            img(src='./../images/header/login.svg' alt='login')
                                        span.header-menu-sign Войти
                                    .header-fixed-cart
                                        .header-fixed-cart-button
                                            img(src="./../images/header/cart.svg" alt="cart")
                                            span Корзина: &nbsp;
                                            span.header-fixed-cart-total 0
                                        include ./cart.pug
