.header-mobile
    .container
        .row
            .col
                .header-mobile-wrapper
                    .header-mobile-left
                        a(href='/')
                            .header-mobile-logo
                                img(src='./images/header/logo.svg')
                        .header-mobile-phone
                            img(src='./images/header/phone.svg')
                            a(href='tel+3752944447521') +375 (29) 444-75-21
                    .header-mobile-right
                        .header-mobile-translate
                            .header-top-block-lang
                                span Ru
                                span
                                    img(src='./../images/header/bird.svg' alt='bird')
                        .header-mobile-hamburger
                            .header-mobile-hamburger-block
    .header-mobile-menu
        .container
            .row
                .col
                    .header-mobile-items
                        .header-mobile-item
                            a(href="#")
                                span Условия доставки
                        .header-mobile-item
                            a(href="./promo.html")
                                img(src="./images/header/burn.svg")
                                span.blue Акции
                        .header-mobile-item
                            a(href="./job.html")
                                span Вакансии
                    .header-mobile-address
                        .header-mobile-address-item
                            img(src="./images/header/map.svg")
                            span г.Гродно, ул Советская, 25
                        .header-mobile-address-item
                            span.underlined-dotted Зона доставки

