.container
    .row
        .col
            .header-fixed-wrapper
                .header-fixed-left
                    .header-fixed-logo
                        a(href="/")
                            img(src="./../images/header/logo_2.svg")
                    .header-fixed-menu
                        .header-fixed-menu-item.link-burger(data-id="burger")
                            p Бургеры
                        .header-fixed-menu-item.link-sandwich(data-id="sandwich")
                            p Сэндвичи
                        .header-fixed-menu-item.link-snacks(data-id="snacks")
                            p Закуски
                        .header-fixed-menu-item.link-sweets(data-id="sweets")
                            p Десерты
                        .header-fixed-menu-item.link-drinks(data-id="drinks")
                            p Напитки
                        .header-fixed-menu-item.link-breakfast(data-id="breakfast")
                            p Завтрак
                .header-fixed-right
                    .header-fixed-right
                        .header-fixed-phone
                            .header-fixed-phone-img
                                img(src="./../images/header/phone_2.svg" alt="phone")
                            .header-fixed-phone-tel
                                a(href="tel:+375294447521") +375 (29) 444-75-21
                        .header-fixed-cart
                            .header-fixed-cart-button
                                img(src="./../images/header/cart.svg" alt="cart")
                                span Корзина:
                            include ./cart.pug
