include ./../mixins.pug
.job
    .container
        .row
            .col-8.offset-2
                .job-title
                    h2 Стань частью команды
                .job-subtitle
                    p Резюме Вы можете отправить на &nbsp;
                        a(href='#') manager@polyanacity.by
                    p Команде Polyana City  нужны активные, желающие работать и развиваться вместе с нами сотрудники
                +jobItem('Администратор', [{ subtitle: 'Что мы предлагаем:', items: [ 'Официальное трудоустройство', 'Обучение на рабочем месте', 'Возможность карьерного и профессионального роста' ] }, { subtitle: 'Что мы предлагаем 2:', items: [ 'Официальное трудоустройство', 'Обучение на рабочем месте', 'Возможность карьерного и профессионального роста' ] }])
                +jobItem('Водитель', [{ subtitle: 'Что мы предлагаем:', items: [ 'Официальное трудоустройство', 'Обучение на рабочем месте', 'Возможность карьерного и профессионального роста' ] }, { subtitle: 'Что мы предлагаем 2:', items: [ 'Официальное трудоустройство', 'Обучение на рабочем месте', 'Возможность карьерного и профессионального роста' ] }])
                +jobItem('Оператор колл-центра', [{ subtitle: 'Что мы предлагаем:', items: [ 'Официальное трудоустройство', 'Обучение на рабочем месте', 'Возможность карьерного и профессионального роста' ] }, { subtitle: 'Что мы предлагаем 2:', items: [ 'Официальное трудоустройство', 'Обучение на рабочем месте', 'Возможность карьерного и профессионального роста' ] }])
                +jobItem('Бармен-кассир', [{ subtitle: 'Что мы предлагаем:', items: [ 'Официальное трудоустройство', 'Обучение на рабочем месте', 'Возможность карьерного и профессионального роста' ] }, { subtitle: 'Что мы предлагаем 2:', items: [ 'Официальное трудоустройство', 'Обучение на рабочем месте', 'Возможность карьерного и профессионального роста' ] }])
                +jobItem('Повар', [{ subtitle: 'Что мы предлагаем:', items: [ 'Официальное трудоустройство', 'Обучение на рабочем месте', 'Возможность карьерного и профессионального роста' ] }, { subtitle: 'Что мы предлагаем 2:', items: [ 'Официальное трудоустройство', 'Обучение на рабочем месте', 'Возможность карьерного и профессионального роста' ] }])
    .private-bottom
        img.tom-red-2(src="./../images/footer/tom-red-2.png", alt="tom")
        img.tom-red-3(src="./../images/footer/tom-red-3.png", alt="tom")
        img.tom-yel(src="./../images/footer/tom-yel.png", alt="tom")
        img.tom-yel-2(src="./../images/footer/tom-yel.png", alt="tom")
        img.halapen(src="./../images/footer/halapen.png", alt="tom")
        img.grass(src="./../images/footer/grass.png", alt="tom")
        img.salad(src="./../images/footer/salad.png", alt="tom")
        img.thyme(src="./../images/footer/thyme.png", alt="tom")