.menu-mobile
    .container
        .row
            .col
                .menu-mobile-wrapper
                    a(href="#burger")
                        .menu-mobile-item
                            p Бургеры
                    a(href="#sandwich")
                        .menu-mobile-item
                            p Сендвичи
                    a(href="#snacks")
                        .menu-mobile-item
                            p Закуски
                    a(href="#sweets")
                        .menu-mobile-item
                            p Сладости
                    a(href="#drinks")
                        .menu-mobile-item
                            p Напитки
                    a(href="#breakfast")
                        .menu-mobile-item
                            p Завтраки
.menu-mobile-bottom
    .menu-mobile-background
    .menu-mobile-sign
        .menu-mobile-sign-img
            img(src='./images/header/login.svg')
        .menu-mobile-sign-text
            span Войти
    .menu-mobile-cart
        .menu-mobile-cart-img
            img(src='./images/header/cart.svg')
        .menu-mobile-cart-text
            span Корзина &nbsp;
            span.bold 0 p.
        .menu-mobile-cart-text-open
            span Оформить заказ
    include ./cart.pug
