.menu
    a(href="#burger")
        .menu-item
            .menu-item-img
                img(class="menu-item-img-center" src="./../images/menu/burger.svg", alt="burger")
                img(class="menu-item-img-hover-left" src="./../images/menu/hover_left.svg", alt="")
                img(class="menu-item-img-hover-right" src="./../images/menu/hover_right.svg", alt="")
            .menu-item-text
                p Бургеры
    a(href="#sandwich")
        .menu-item
            .menu-item-img
                img(class="menu-item-img-center" src="./../images/menu/sandwich.svg", alt="sandwich")
                img(class="menu-item-img-hover-left" src="./../images/menu/hover_left.svg", alt="")
                img(class="menu-item-img-hover-right" src="./../images/menu/hover_right.svg", alt="")
            .menu-item-text
                p Сендвичи
    a(href="#snacks")
        .menu-item
            .menu-item-img
                img(class="menu-item-img-center" src="./../images/menu/snacks.svg", alt="snacks")
                img(class="menu-item-img-hover-left" src="./../images/menu/hover_left.svg", alt="")
                img(class="menu-item-img-hover-right" src="./../images/menu/hover_right.svg", alt="")
            .menu-item-text
                p Закуски
    a(href="#sweets")
        .menu-item
            .menu-item-img
                img(class="menu-item-img-center" src="./../images/menu/sweets.svg", alt="sweets")
                img(class="menu-item-img-hover-left" src="./../images/menu/hover_left.svg", alt="")
                img(class="menu-item-img-hover-right" src="./../images/menu/hover_right.svg", alt="")
            .menu-item-text
                p Сладости
    a(href="#drinks")
        .menu-item
            .menu-item-img
                img(class="menu-item-img-center" src="./../images/menu/drinks.svg", alt="drinks")
                img(class="menu-item-img-hover-left" src="./../images/menu/hover_left.svg", alt="")
                img(class="menu-item-img-hover-right" src="./../images/menu/hover_right.svg", alt="")
            .menu-item-text
                p Напитки
    a(href="#breakfast")
        .menu-item
            .menu-item-img
                img(class="menu-item-img-center" src="./../images/menu/breakfast.svg", alt="breakfast")
                img(class="menu-item-img-hover-left" src="./../images/menu/hover_left.svg", alt="")
                img(class="menu-item-img-hover-right" src="./../images/menu/hover_right.svg", alt="")
            .menu-item-text
                p Завтраки