.menu 
    .menu-item
        .menu-item-img 
            img(class="menu-item-img-center" src="./../images/menu/burger.svg", alt="burger")
            img(class="menu-item-img-hover-left" src="./../images/menu/hover_left.svg", alt="")
            img(class="menu-item-img-hover-right" src="./../images/menu/hover_right.svg", alt="")
        .menu-item-text
            p Бургеры
    .menu-item
        .menu-item-img 
            img(class="menu-item-img-center" src="./../images/menu/sandwich.svg", alt="sandwich")
            img(class="menu-item-img-hover-left" src="./../images/menu/hover_left.svg", alt="")
            img(class="menu-item-img-hover-right" src="./../images/menu/hover_right.svg", alt="")
        .menu-item-text
            p Сендвичи
    .menu-item
        .menu-item-img 
            img(class="menu-item-img-center" src="./../images/menu/snacks.svg", alt="snacks")
            img(class="menu-item-img-hover-left" src="./../images/menu/hover_left.svg", alt="")
            img(class="menu-item-img-hover-right" src="./../images/menu/hover_right.svg", alt="")
        .menu-item-text
            p Закуски
    .menu-item
        .menu-item-img 
            img(class="menu-item-img-center" src="./../images/menu/sweets.svg", alt="sweets")
            img(class="menu-item-img-hover-left" src="./../images/menu/hover_left.svg", alt="")
            img(class="menu-item-img-hover-right" src="./../images/menu/hover_right.svg", alt="")
        .menu-item-text
            p Сладости
    .menu-item
        .menu-item-img 
            img(class="menu-item-img-center" src="./../images/menu/drinks.svg", alt="drinks")
            img(class="menu-item-img-hover-left" src="./../images/menu/hover_left.svg", alt="")
            img(class="menu-item-img-hover-right" src="./../images/menu/hover_right.svg", alt="")
        .menu-item-text
            p Напитки
    .menu-item
        .menu-item-img 
            img(class="menu-item-img-center" src="./../images/menu/breakfast.svg", alt="breakfast")
            img(class="menu-item-img-hover-left" src="./../images/menu/hover_left.svg", alt="")
            img(class="menu-item-img-hover-right" src="./../images/menu/hover_right.svg", alt="")
        .menu-item-text
            p Завтраки