.menu-mobile
    .container
        .row
            .col
                .menu-mobile-wrapper
                    .menu-mobile-item.link-burger(data-id="burger")
                        p Бургеры
                    .menu-mobile-item.link-sandwich(data-id="sandwich")
                        p Сендвичи
                    .menu-mobile-item.link-snacks(data-id="snacks")
                        p Закуски
                    .menu-mobile-item.link-sweets(data-id="sweets")
                        p Сладости
                    .menu-mobile-item.link-drinks(data-id="drinks")
                        p Напитки
                    .menu-mobile-item.link-breakfast(data-id="breakfast")
                        p Завтраки
.menu-mobile-bottom
    .menu-mobile-background
    .menu-mobile-sign
        .menu-mobile-sign-img
            img(src='./images/header/login.svg')
        .menu-mobile-sign-text
            span Войти
    .menu-mobile-cart
        .menu-mobile-cart-img
            img(src='./images/header/cart.svg')
        .menu-mobile-cart-text
            span Корзина &nbsp;
            span.bold 0 p.
            include ./auth.pug
        .menu-mobile-cart-text-open
            span Оформить заказ
    include ./cart.pug
