.private
    .container
        .row
            .col-12.col-lg-8.offset-lg-2
                .private-title
                    h2 Личный кабинет
                .private-block.name
                    .private-block-title
                        h3 Личные данные
                    .private-block-static.active
                        .private-block-static-item
                            .private-block-static-title
                                p Имя
                            .private-block-static-prop
                                p Константин
                        .private-block-static-item
                            .private-block-static-title
                                p Номер телефона
                            .private-block-static-prop
                                p +375 (29) 123-78-23
                        .private-block-static-item
                            .private-block-static-title
                                p Электронная почта
                            .private-block-static-prop
                                p tim.jennings@example.com
                        .private-block-change.change-button
                            span Изменить
                    .private-block-dynamic
                        form(name="private-name")
                            .input-group
                                input#private-name.input-area(type='text' required='true')
                                label.label(for='private-adress-title') Имя
                            .input-group
                                input#private-phone.input-area(type='text' required='true')
                                label.label(for='private-phone') Номер телефона
                            .input-group
                                input#private-email.input-area(type='email' required='true')
                                label.label(for='private-email') Электронная почта
                            .button
                                button.my-button(type="submit") Сохранить
                .private-block.address
                    .private-block-title
                        h3 Адрес доставки
                    .private-block-static.active
                        .private-block-choice
                            .private-block-choice-data
                                .private-block-choice-title
                                    p Домой
                                .private-block-choice-text
                                    p пр-т Космонавтов, д.48, кв.48
                            .private-block-choice-correct
                                span.underlined-dotted.correct-button Редактировать
                        .private-block-address.my-button.change-button
                            img(src='./../images/private/add.svg' alt='add')
                            span Добавить адрес
                    .private-block-dynamic
                        form(name="private-change")
                            .private-input-address
                                .private-input-address-top
                                    .input-group
                                        select#private-address-title.input-area(type='text' required='true')
                                            option(value="Домой") Домой
                                            option(value="Работа") Работа
                                        label.label(for='private-address-title') Название
                                .private-input-address-bottom
                                    .private-input-address-bottom-street
                                        .input-group
                                            input#private-address-street.input-area(type='text' required='true')
                                            label.label(for='private-address-street') Улица
                                    .private-input-address-bottom-app
                                        .input-group
                                            input#private-address-app.input-area(type='text' required='true')
                                            label.label(for='private-address-app') Квартира
                                        .input-group
                                            input#private-address-build.input-area(type='text' required='true')
                                            label.label(for='private-address-build') Дом
                            .button
                                button.my-button(type="submit") Сохранить
                .private-block.password
                    .private-block-title
                        h3 Изменить пароль
                    .private-block-static.active
                        form(name="private-password")
                            .input-group
                                input#private-new-password.input-area(type='password' required='true')
                                label.label(for='private-new-password') Новый пароль
                            .input-group
                                input#private-new-password-repeat.input-area(type='text' required='true')
                                label.label(for='private-new-password-repeat') Повторите новый пароль
                            .button
                                button.my-button(type="submit") Сохранить новый пароль
                .private-block-back
                    span Выйти из личного кабинета 
    .private-bottom
        img.tom-red-2(src="./../images/footer/tom-red-2.png", alt="tom")
        img.tom-red-3(src="./../images/footer/tom-red-3.png", alt="tom")
        img.tom-yel(src="./../images/footer/tom-yel.png", alt="tom")
        img.tom-yel-2(src="./../images/footer/tom-yel.png", alt="tom")
        img.halapen(src="./../images/footer/halapen.png", alt="tom")
        img.grass(src="./../images/footer/grass.png", alt="tom")
        img.salad(src="./../images/footer/salad.png", alt="tom")
        img.thyme(src="./../images/footer/thyme.png", alt="tom")
