.slider
    .swiper-container
        .swiper-wrapper
            .swiper-slide 
                .slider-text 
                    .container 
                        .row
                            .col 
                                h1 Лучшие бургеры в Гродно
                                p Значимость этих проблем настолько очевидна, что консультация с широким активом играет важную роль в формировании новых предложений
                img(src="./../images/slider/slider_1.png", alt="slider")
            .swiper-slide
                img(src="./../images/slider/slider_2.png", alt="slider")
            .swiper-slide 
                img(src="./../images/slider/slider_1.png", alt="slider")
        .swiper-button-prev
            img(src="./../images/slider/prev.svg", alt="prev")
        .swiper-button-next
            img(src="./../images/slider/next.svg", alt="next")
        .swiper-pagination
