.dishes {
    background: url('./../images/dishes/bg.png');
    background-repeat: repeat;
    padding-top: 100px;
    overflow: hidden;
    &-block {
        padding-top: 70px;
        position: relative;
        &-anchor {
            position: absolute;
            top: -50px;
        }
    }
    &-title {
        margin-bottom: 40px;
        display: flex;
        align-items: center;
        &-type {
            display: flex;
            margin-left: 45px;
            cursor: pointer;
            transition: 0.3s;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            text-align: center;
            color: $mainBlack;
            opacity: 0.8;
            &:hover {
                color: $activeColor;
            }
            &.active {
                color: $activeColor;
            }
        }
        &-img {
            margin-right: 7px;
        }
    }
    &-card {
        padding: 20px;
        width: 260px;
        height: 433px;
        background: rgba(252, 251, 248, 0.5);
        border: 1px solid rgba(243, 243, 243, 0.2);
        border-radius: 3px;
        margin-bottom: 40px;
        &-top {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        &-weight {
            p {
                font-size: 12px;
                line-height: 14px;
            }
        }
        &-type {
            display: flex;
            & img {
                margin-left: 5px;
            }
        }
        &-img {
            width: 100%;
            height: 142px;
            object-fit: cover;
            margin-bottom: 10px;
            display: flex;
            justify-content: center;
            img {
                max-width: 100%;
                object-fit: cover;
            }
        }
        &-text {
            height: 122px;
            display: flex;
            flex-direction: column;
            overflow: hidden;
            margin-bottom: 15px;
        }
        &-desc {
            font-family: 'Lato', Arial, Helvetica, sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 17px;
            color: #515257;
            opacity: 0.85;
            &-wrapper {
                display: flex;
                flex-direction: column;
            }
        }
        &-title {
            h4 {
                font-family: Montserrat;
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 24px;
                color: $mainBlack;
                margin-bottom: 10px;
            }
            p {
                font-family: 'Lato', Arial, Helvetica, sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 16px;
                color: #515257;
                opacity: 0.85;
            }

        }
        &-price {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 15px;
            &-left {
                h4 {
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 24px;
                    display: flex;
                    align-items: center;
                }
            }
            &-right {

            }
        }
        &-counter {
            display: flex;
            justify-content: space-around;
            width: 77px;
            height: 23px;
            border: 1px solid #E5E5E5;
            box-sizing: border-box;
            border-radius: 2px;
            span {
                font-family: 'Lato', Arial, Helvetica, sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                color: #515257;
            }
            &-plus {
                border-left: 1px solid #E5E5E5;
                width: 33%;
                text-align: center;
                cursor: pointer;
            }
            &-minus {
                border-right: 1px solid #E5E5E5;
                width: 33%;
                text-align: center;
                cursor: pointer;
            }
            &-count {
                width: 33%;
                text-align: center;
            }
        }
        &-button {
            background: $mainBlack;
            border-radius: 2px;
            width: 100%;
            height: 45px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            color: #F3F3F3;
            cursor: pointer;
            transition: 0.3s;
            &:hover {
                background: $activeColor;
            }
        }
    }
    &-line {
        width: 100%;
        margin-top: 120px;
    }
    @media(max-width: 991px) {
        padding-top: 0px;
        &-title {
            margin-bottom: 30px;
            &-type {
                align-items: center;
                margin-left: 18px;
                &:first-child {
                    margin-left: 29px;
                }
            }
            &-text {
                font-size: 12px;
                line-height: 14px;
            }
        }
        &-block {
            padding-top: 40px;
        }
        &-card {
            width: 100%;
        }
    }
    @media(max-width: 768px) {
        padding-top: 25px;
        &-block {
            padding-top: 15px;
        }
        &-card {
            width: 100%;
            height: 244px;
            padding-left: 0;
            position: relative;
            margin-bottom: 25px;
            h4 {
                font-weight: 600;
                font-size: 16px;
                line-height: 20px;
            }
            &-weight {
                p {
                    margin-left: 30px;
                    font-size: 10px;
                    line-height: 12px;
                }
            }
            &-type {
                position: absolute;
                top: 3px;
                right: 3px;
                height: 15px;
            }
            &-desc {
                &-wrapper {
                    display: flex;
                    flex-direction: row;
                }
            }
            &-img {
                display: flex;
                justify-content: center;
                width: 37%;
                overflow: hidden;
                img {
                    max-width: none;
                    transform: translateX(-30%);
                }
            }
            &-text {
                width: 63%;
                bottom: 15px;
                position: relative;
                height: 150px;
            }
            &-price {
                margin-left: 37%;
            }
            &-button {
                display: none;
            }
        }
        &-line {
            margin-top: 40px;
        }
        #sause {
            .dishes-card {
                padding: 20px;
                height: 130px;
                &-weight {
                    p {
                        margin-left: 0;
                    }
                }
                &-img {
                    height: 70px;
                    margin-bottom: 0;
                    justify-content: flex-start;
                    img {
                        max-width: 100%;
                        height: 100%;
                        transform: translateX(0);
                    }
                }
                &-text {
                    height: auto;
                    margin-bottom: 0;
                    p {
                        height: 20px;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        width: 101%;
                        overflow: hidden;
                    }
                }
                &-price {
                    bottom: 15px;
                    position: relative;
                    margin-bottom: 0;
                }
            }
        }
    }
}