.menu-mobile {
    display: none;
    position: sticky;
    top: 40px;
    background-color: #F8F6F4;
    z-index: 4;
    transition: 0.1s ease-in-out;
    &-background {
        position: fixed;
        bottom: 45px;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000000;
        opacity: 0.2;
        display: none;
    }
    &-wrapper {
        display: flex;
        height: 50px;

        align-items: center;
        flex-wrap: nowrap;
        overflow-x: scroll;
        justify-content: space-between;
        a {
            margin-right: 15px;
            &:last-child {
                margin-right: 0;
            }
            &.active {
                color: $activeColor;
            }
        }
    }
    &-item {
        p {
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
        }
    }
    &-bottom {
        display: none;
        position: fixed;
        bottom: 0;
        background: #F8F6F4;
        width: 100%;
        z-index: 5;
        align-items: center;
        height: 45px;
        span {
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
        }
        img {
            bottom: 2px;
            position: relative;
            margin-right: 6px;
        }
    }
    &-sign {
        width: 30%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    &-cart {
        width: 70%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.3s;
        background: $activeColor;
        position: relative;
        span {
            color: #ffffff;
            opacity: 1;
        }
        &-text {
            &-open {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: 0.3s;
                opacity: 0;
            }
        }
        &.order-active {
            background: $mainBlack;
            img {
                display: none;
            }
            .menu-mobile-cart-text {
                span {
                  opacity: 0;
                }
                &-open {
                    opacity: 1;
                }
            }
        }
    }
    .active-link {
        color: $activeColor;
    }

    @media(max-width: 991px) {
        display: block;
        &-bottom {
            display: flex;
        }
    }
}