.private {
  padding-top: 100px;
  background: url('./../images/dishes/bg.png');
  background-repeat: repeat;
  overflow: hidden;
  &-title {
    h2 {
      //font-family: Montserrat;
      //font-style: normal;
      //font-weight: 600;
      //font-size: 48px;
      //line-height: 59px;
      text-align: center;
    }
    margin-bottom: 60px;
  }
  &-block {
    padding: 30px 60px;
    background: #F8F6F4;
    border: 1px solid rgba(243, 243, 243, 0.2);
    box-sizing: border-box;
    box-shadow: 0px 10px 20px rgba(52, 51, 49, 0.04), 0px 2px 6px rgba(52, 51, 49, 0.04), 0px 0px 1px rgba(52, 51, 49, 0.04);
    border-radius: 3px;
    margin-bottom: 40px;
    overflow: hidden;
    &-title {
      margin-bottom: 30px;
    }
    &-static {
      display: none;
      &.active {
        display: block;
      }
      &-item {
        display: flex;
        margin-bottom: 20px;
      }
      &-title {
        font-weight: 600;
        width: 170px;
        font-size: 16px;
        margin-right: 55px;
      }
      &-prop {
        font-family: 'Lato', Arial, Helvetica, sans-serif;
      }
      & img {
        margin-right: 8px;
      }
    }
    &-change {
      span {
        font-weight: 600;
        color: $activeColor;
        font-size: 16px;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
          color: $activeColor;
        }
      }
    }
    &-dynamic {
      display: none;
      &.active {
        display: block;
      }
      & .input-group {
        width: 300px;
      }
    }
    &-choice {
      display: flex;
      align-items: center;
      margin-bottom: 30px;
      &-data {
        display: flex;
        flex-direction: column;
        min-width: 240px;
        margin-right: 100px;
      }
      &-title {
        p {
          font-family: Montserrat;
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 20px;
          color: #515257;
        }
      }
      &-correct {

      }
    }
    &.password {
      .input-group {
        max-width: 300px;
      }
      .button {
        max-height: 0;
        transition: 0.3s;
        overflow: hidden;
        & button {
          margin-top: 10px;
        }
        &.open {
          max-height: 100px;
        }
      }
    }
    & button {
      margin-top: 30px;
    }
    &-back {
      display: flex;
      align-items: center;
      justify-content: center;
      span {
        cursor: pointer;
        border-bottom: 1px dashed #515257;
        opacity: 0.7;
        transition: 0.3s;
        font-size: 16px;
        display: inline;
        font-weight: 600;
          &:hover {
          opacity: 1;
        }
      }
    }
  }
  &-input {
    &-address {
      display: flex;
      flex-direction: column;
      &-bottom {
        display: flex;
        justify-content: space-between;
        //& .input-group {
        //  width: auto;
        //  margin-left: 40px;
        //  &:first-child {
        //    min-width: 300px;
        //    margin-left: 0;
        //  }
        //}
        &-street {
          min-width: 300px;
          margin-right: 20px;
        }
        &-app {
          display: flex;
          flex-direction: row;
          .input-group {
            max-width: 140px;
            &:first-child {
              margin-right: 20px;
            }
          }
        }
      }
      select {
        padding: 10px 13px !important;
      }
    }
  }
  &-bottom {
    position: relative;
    height: 263px;
    img {
      position: absolute;
    }
    .tom-red-3 {
      top: 0;
      right: 0;
    }
    .tom-red-2 {
      bottom: -53px;
      left: 20%;
    }
    .tom-yel {
      top: 0;
      left: 10px;
      transform: rotate(-80deg);
    }
    .tom-yel-2 {
      bottom: 0;
      left: 70%;
    }
    .grass {
      bottom: -190px;
      left: 0;
    }
    .salad {
      bottom: -215px;
      left: 30%;
    }
    .thyme {
      bottom: -130px;
      left: 40px;
    }
    .halapen {
      right: -74px;
      bottom: -92px;
      transform: rotate(-11deg);
    }
  }
  &-info {
    p {
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 14px;
      color: $mainBlack;
      opacity: 0.8;
      margin-top: 40px;
    }
  }
  @media(max-width: 1200px) {
    &-input {
      &-address {
        &-bottom {
          flex-direction: column;
          &-app {
          }
        }
      }
    }
  }

  @media(max-width: 991px) {
    padding-top: 25px;
    &-title {
      margin-bottom: 40px;
    }
    &-block {
      padding: 30px 20px 30px;
      &-title {
        margin-bottom: 15px;
        h3 {
          font-size: 16px;
          line-height: 20px;
          text-align: center;
        }
      }
      &-dynamic {
        .input-group {
          width: 100%;
        }
      }
      &-choice {
        margin-bottom: 25px;
        &-title {
          p {
            font-size: 14px;
            line-height: 17px;
          }
        }
        &-text {
          p {
            font-size: 14px;
            line-height: 17px;
          }
        }
        &-data {
          min-width: auto;
        }
      }
      &-static {
        &-item {
          flex-direction: column;
          margin-bottom: 10px;
        }
        &-title {
          width: 100%;
          margin-right: 0;
        }
        .input-group {
          width: 100%;
        }
      }
      button {
        margin: 0 auto;
        margin-top: 5px;
      }
    }
    &-input {
      &-address {
        &-bottom {
          &-street {
            min-width: auto;
            margin-right: 0;
          }
        }
      }
    }
    &-bottom {
      overflow: hidden;
      display: block;
      height: 175px;
      img {
        transform: scale(0.5);
      }
      .tom-yel {
        top: 0px;
        left: -21px;
      }
      .tom-yel-2 {
        display: none;
      }
      .tom-red-2 {
        display: none;
      }
      .tom-red-3 {
        top: 0;
        right: -25px;
      }
      .grass {
        left: -50px;
      }
      .salad {
        left: 7%;
        bottom: -115px;
      }
    }
  }
}